

.container{
   
    margin: auto;
    
   
     
    
    
}



 /*Start Navbar */
.navbar
{
    margin:0px;
    height: 0;
    z-index: 3;
}

.navbar .navbar-brand
{
 
  color: #FFF;
  
}
.navbar .nav-item li
{
 
 color: #FFF
 
}



 /*End Navbar */
/*start header*/

.header
{
    margin: -18px 0 0 0;
    background-image: url('../img/tem.jpg');
    position: relative;
    z-index: 1;
}

.header .overlay
{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    }
  
  
.carousel-control-next, .carousel-control-prev {
    position: absolute;
     
    top: 329px;
    z-index: 4;}
    
    
   
    

  
.header .carousel-inner .carousel-item
{
 
 color: #FFF;
 z-index: 4
}

  
  
  
 .header h3{
 
 text-transform: uppercase;
 letter-spacing: 2px;
 
 }
 @media(max-width:768px){
    .header h3{
 
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 22px;
    }
}
 
 
 @media(max-width:576px){
    .header h3{
 
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 14px;
    }
}
 
 
 @media(max-width:768px){
    .header p{
 font-size: 14px;
    }
}
 @media(max-width:576px){
    .header p{
 font-size: 14px;
    }
}
 
 
 
 
 .header h3 span{

 color:#1abc9c;
 }

 /*End header */
/*start services */
 
.services {
padding-top:20px;
padding-bottom: 50px;

}


.services h3{
 color:#000;
 font-weight: 400;
 margin-bottom: 70px;
}

 @media(max-width:576px){
   .services h3{
 font-size: 19px;
 font-weight: 400;
    }}

.services .sphed {
 position: relative;
 
}

.services .sphed:after {
 content: "";
 display: block;
 position: absolute;
 border-bottom: solid 2px #000;
 width: 43px;
 left: 0;
 top: 40px
 
}
 

.services .row i{
 color:#1abc9c;
 font-size: 5rem;
 float: left;
 width:17% !important;
 margin-right: 13%;
 padding-bottom:10px
}

.services .row .info{
 
 float: left;
 width:70%;
 
}


.services .row h5{
 font-size: 16px;
 color:#333;
 margin-top:8px;
}
 

.services .row p{
 font-size: 13px;
 color:#888;
padding-top: 8px;
}
 
 #x{
  font-size: 7rem;
 }
 
 
 .clearfix{
  clear:both;
 }
 
 
 .spr{
  border: solid 1px #1abc9c;
  margin:40px 0px;
 }
 
.services .tminf h4{
margin-bottom:30px;
}

.services .tminf p{
 font-size: 14px;
 color:#888;
 
}



.services .dex {
     position: relative;
     margin-left: 1%;
     max-width: 15.33333%;
     
     padding-right: 0px; 
     padding-left: 0px;
 
 }
 
 .services .dex img {
  width:100%;
  
  
 }
 .services .dex .overlay {
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(26,188,15,.6);
  line-height: 180px;
  color:#FFF;
  display: none;
  
 }
 
 
.services .dex:hover .overlay {
  display :block;
}


.spn {
 position: relative;
 
}

.spn:after {
 content: "";
 display: block;
 position: absolute;
 border-bottom: solid 2px #FFF;
 width: 18px;
 left: 1px;
 top: 30px
 
}
 
 
 
 .testo
{
 
    background-image: url('../img/as.jpg');
    position: relative;
    z-index: 1;
    background-size: cover;
}

.testo .overlay
{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 10;
    }
 .testo h5{
  color: #FFF;
  padding:60px 0 70px 0;
  z-index: 9;
 
  
 }
 
  .testo p{
  color: #CCC;
  padding:0px 0 0px 0;
  font-size:13px;
  line-height: 25px;
   z-index: 8;
  
 }
 
 .testo h6{
  color: #1abc9c;
  padding:15px 0 0px 0;
  z-index: 9;
 
  
 }
 
 .testo .slide > div {
  display: none;
  
 }
 
 .testo .slide .active{
  display:block;
  
 }
 
 
 /*  sdfsd*/
 
 .ourproj {
  padding:27px 0;
 }
 

.ourproj .sphed {
 position: relative;
 
}

.ourproj .sphed:after {
 content: "";
 display: block;
 position: absolute;
 border-bottom: solid 2px #000;
 width: 43px;
 left: 2px;
 top: 50px
 
}

.ourproj ul{
    
    align-items: stretch;
    
    padding:25px 0px;
    margin-left:-5px
    
}

.ourproj ul li{
    border:1.4px solid #1abc9c  ;
    padding:10px 20px;
    margin:0px 5px 0px 5px;
    color:#1abc9c;
    
    
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
}

.ourproj ul li.active{
 color:#FFF;
 background-color:#1abc9c;}
 
 
 
.ourproj .popic {
 padding-bottom:30px;
 padding-left: 0px
}

.ourproj .dex {
     position: relative;
     margin-right:2%;
     max-width: 31.33333%;
     
     padding-right: 0px; 
     padding-left: 0px;
 
 }
.ourproj .popic .dex img {
  width:100%;
  height:100%
  
 }


.ourproj .popic .dex .overlay {
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(26,188,15,.8);
  text-align: center;
  color:#FFF;
  display: none;
  line-height: 220px;
  
 }
 
 
.ourproj .popic .dex:hover .overlay {
  display :block;
}
 
   

  
.ourproj .popic .dex .overlay a {
 
 padding: 10px;
 color: #FFF;

 border: 1px solid #FFF;
}

.ourproj .popic .dex .overlay i {
 display: block;
text-align: right;
position: absolute;
right: 20px;
bottom: 20px;

}

.footer {
 background-color: #222;
 padding:0;
 margin-bottom:-28px;
 height:340px;
 
}

.foin,.catag{
 color:#CCC;
 
 
}
 
.footer h5{
margin: 50px 0px 30px 0px;
color: #FFF;
}

.footer .foin p{

font-size:12px;
}

.footer .foin i{
 border:1px solid #CCC;
 color:#CCC;
 padding:8px;
 margin-right: 4px;
 margin-bottom: 70px;
 
}

.footer .foin #fb{
 border:1px solid #CCC;
 color:#CCC;
 padding:8px 11px;
 margin-right: 4px;
 
}
 

 .footer .foin span{
  display: block;
  float:left;
   border:1px solid #CCC;
   padding:8px 13px;
   margin-right: 10px;
   margin-top: 5px ;
   margin-bottom:5px;
   font-weight: bold;
   font-size: 13px;
 }
 .footer img {
  padding-bottom: 10px;
  margin-top:5px
 }
 
.footer .catag p{
 font-size: 13px;
 padding-bottom: 16px;
 position: relative;
 font-weight: 600;
 

}

.footer .catag p:after{
 display: block;
 
 position: absolute;
 content: "";
 border-bottom: 1px solid #CCC;
 top:35px;
 left:0px;
 width:220px;
 
}





